<launch>
    <arg name="use_pointcloud_map" default="true" />
    <arg name="map_pcd" if="$(arg use_pointcloud_map)" />

    <rosparam file="$(find gnss_initpose_ros)/config/utm_initpose_node.yaml" command="load"/>

    <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node">
        <remap from="fix" to="fix" />
        <remap from="odom" to="gps/odom" />
    </node>
    <node pkg="gnss_initpose_ros" type="utm_initpose_node" name="utm_initpose_node" output="screen" respawn="false" respawn_delay="0" />
<!--
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="$(arg map_pcd)" if="$(arg use_pointcloud_map)">
        <remap from="cloud_pcd" to="mapcloud" />
	<param name="frame_id" value="map" />
	<param name="latch" value="True" />
    </node>
-->
</launch>
